apiVersion: apps/v1
kind: Deployment
metadata:
  name: headlamp
  namespace: headlamp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: headlamp
  template:
    metadata:
      labels:
        app: headlamp
    spec:
      serviceAccountName: headlamp
      containers:
      - name: headlamp
        image: ghcr.io/headlamp-k8s/headlamp:v0.39.0
        args:
        - -in-cluster
        - -plugins-dir=/headlamp/plugins
        ports:
        - containerPort: 4466
          name: http
        readinessProbe:
          httpGet:
            path: /
            port: 4466
          initialDelaySeconds: 30
          timeoutSeconds: 30
        livenessProbe:
          httpGet:
            path: /
            port: 4466
          initialDelaySeconds: 30
          timeoutSeconds: 30
