apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - serviceaccount.yaml
  - clusterrolebinding.yaml
  - clusterrolebinding-oidc.yaml
  - external-secret-oidc.yaml
  - deployment.yaml
  - service.yaml
  - servicemonitor.yaml
  - httproute.yaml
