apiVersion: v1
kind: Service
metadata:
  name: headlamp
  namespace: headlamp
  labels:
    app: headlamp
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: 4466
  selector:
    app: headlamp
