#cloud-config
package_update: true
package_upgrade: true
packages:
  - curl

runcmd:
  - |
      for i in 1 2 3 4 5 6 7 8 9 10 11 12; do
        if getent hosts tailscale.com >/dev/null 2>&1; then
          break
        fi
        sleep 5
      done
      curl -fsSL https://tailscale.com/install.sh | sh
  - |
      TS_FLAGS=""
      if [ "${tailscale_accept_routes}" = "true" ]; then
        TS_FLAGS="$TS_FLAGS --accept-routes"
      fi
      tailscale up --authkey "${tailscale_auth_key}" --hostname "${tailscale_hostname}" $TS_FLAGS --advertise-tags "${tailscale_advertise_tags}"
