---
- name: Add NVIDIA container toolkit GPG key
  ansible.builtin.shell: |
    curl -fsSL https://nvidia.github.io/libnvidia-container/gpgkey | gpg --dearmor -o /usr/share/keyrings/nvidia-container-toolkit-keyring.gpg --yes
  args:
    creates: /usr/share/keyrings/nvidia-container-toolkit-keyring.gpg

- name: Add NVIDIA container toolkit repository
  ansible.builtin.shell: |
    curl -s -L https://nvidia.github.io/libnvidia-container/stable/deb/nvidia-container-toolkit.list | \
    sed 's#deb https://#deb [signed-by=/usr/share/keyrings/nvidia-container-toolkit-keyring.gpg] https://#g' | \
    tee /etc/apt/sources.list.d/nvidia-container-toolkit.list
  args:
    creates: /etc/apt/sources.list.d/nvidia-container-toolkit.list

- name: Install NVIDIA container toolkit
  ansible.builtin.apt:
    name: nvidia-container-toolkit
    state: present
    update_cache: true

- name: Configure NVIDIA runtime for containerd
  ansible.builtin.command: nvidia-ctk runtime configure --runtime=containerd --set-as-default --cdi.enabled
  changed_when: false

- name: Create CDI directory
  ansible.builtin.file:
    path: /etc/cdi
    state: directory
    mode: '0755'

- name: Generate NVIDIA CDI config
  ansible.builtin.command: nvidia-ctk cdi generate --output=/etc/cdi/nvidia.yaml
  args:
    creates: /etc/cdi/nvidia.yaml
  notify: Restart containerd
