---
- name: Install Longhorn prerequisites
  ansible.builtin.apt:
    name:
      - open-iscsi
      - nfs-common
      - cryptsetup
    state: present
    update_cache: true

- name: Enable and start iscsid
  ansible.builtin.systemd:
    name: iscsid
    enabled: true
    state: started

- name: Load dm_crypt kernel module
  community.general.modprobe:
    name: dm_crypt
    state: present

- name: Disable multipathd (Longhorn conflict)
  ansible.builtin.systemd:
    name: multipathd
    enabled: false
    state: stopped
  ignore_errors: true

- name: Create Longhorn storage directory
  ansible.builtin.file:
    path: "{{ longhorn_storage_path }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
