/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  --ifm-color-primary: #2b6fe8;
  --ifm-color-primary-dark: #1f5fd1;
  --ifm-color-primary-darker: #1a55bd;
  --ifm-color-primary-darkest: #144293;
  --ifm-color-primary-light: #3d7cf0;
  --ifm-color-primary-lighter: #4f89f3;
  --ifm-color-primary-lightest: #75a4f7;
  --ifm-font-family-base: 'Space Grotesk', sans-serif;
  --ifm-heading-font-family: 'Fraunces', serif;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(12, 22, 19, 0.08);
}

[data-theme='dark'] {
  --ifm-color-primary: #6aa6ff;
  --ifm-color-primary-dark: #4c91ff;
  --ifm-color-primary-darker: #3a84ff;
  --ifm-color-primary-darkest: #2366d6;
  --ifm-color-primary-light: #88b9ff;
  --ifm-color-primary-lighter: #9bc4ff;
  --ifm-color-primary-lightest: #c9dcff;
  --docusaurus-highlighted-code-line-bg: rgba(247, 243, 236, 0.12);
}

.navbar__title {
  font-weight: 600;
}
