apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-admin
  namespace: monitoring
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "1"
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: grafana-admin
    creationPolicy: Owner
  data:
  - secretKey: admin-user
    remoteRef:
      key: monitoring/grafana-admin
      property: admin-user
  - secretKey: admin-password
    remoteRef:
      key: monitoring/grafana-admin
      property: admin-password
