apiVersion: apps/v1
kind: Deployment
metadata:
  name: tdarr-node
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tdarr
      component: node
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: tdarr
        component: node
    spec:
      containers:
        - name: tdarr-node
          image: ghcr.io/haveagitgat/tdarr_node:2.58.02
          env:
            - name: TZ
              value: UTC
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: UMASK_SET
              value: "002"
            - name: nodeName
              value: "TdarrNvidia"
            - name: serverIP
              value: "tdarr"
            - name: serverPort
              value: "8266"
            - name: inContainer
              value: "true"
            - name: ffmpegVersion
              value: "7"
            - name: nodeType
              value: "mapped"
            - name: priority
              value: "-1"
            - name: maxLogSizeMB
              value: "10"
            - name: pollInterval
              value: "2000"
            - name: startPaused
              value: "false"
            - name: transcodegpuWorkers
              value: "1"
            - name: transcodecpuWorkers
              value: "0"
            - name: healthcheckgpuWorkers
              value: "1"
            - name: healthcheckcpuWorkers
              value: "0"
            - name: NVIDIA_DRIVER_CAPABILITIES
              value: "all"
            - name: NVIDIA_VISIBLE_DEVICES
              value: "all"
            - name: cronPluginUpdate
              value: ""
          resources:
            requests:
              nvidia.com/gpu: 1
              memory: 2Gi
              cpu: 1000m
            limits:
              nvidia.com/gpu: 1
              memory: 4Gi
              cpu: 2000m
          volumeMounts:
            - name: configs
              mountPath: /app/configs
            - name: logs
              mountPath: /app/logs
            - name: media
              mountPath: /media
            - name: temp
              mountPath: /temp
      volumes:
        - name: configs
          persistentVolumeClaim:
            claimName: tdarr-configs
        - name: logs
          persistentVolumeClaim:
            claimName: tdarr-logs
        - name: media
          persistentVolumeClaim:
            claimName: jellyfin-media
        - name: temp
          emptyDir: {}
