apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: tailscale-dns-updater
  namespace: tailscale-dns
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  resourceNames:
  - tailscale-dns
  verbs:
  - get
  - update
  - patch
