apiVersion: apps/v1
kind: Deployment
metadata:
  name: filebrowser
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: filebrowser
  template:
    metadata:
      labels:
        app: filebrowser
    spec:
      containers:
        - name: filebrowser
          image: docker.io/filebrowser/filebrowser@sha256:363c1eae79e7c08bbb994c3511875cbcb65e70df9ac850221d60400c362f4ff9
          args:
            - --noauth
            - --root=/srv
            - --address=0.0.0.0
            - --port=8080
          resources:
            requests:
              memory: 64Mi
              cpu: 50m
            limits:
              memory: 256Mi
              cpu: 500m
          volumeMounts:
            - name: media
              mountPath: /srv
          ports:
            - containerPort: 8080
      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: jellyfin-media
